// Menu Button
.menu-btn {
	position: absolute;
	z-index: 3;
	right: 1.5rem;
	top: 1.5rem;
	cursor: pointer;
	background-color: darken(setTextColor($primary-color), 80);
	opacity: 0.8;
	padding: 0 4px;
	@include easeOut;

	.btn-line {
		width: 1.75rem;
		height: 0.25rem;
		margin: 5px 0 5px 0;
		background: setTextColor($primary-color);
		@include easeOut;
	}

	// Rotate into X with menu lines
	&.close {
		transform: rotate(180deg);

		.btn-line {
			// Line 1 - Rotate
			&:nth-child(1) {
				transform: rotate(45deg) translate(0.42rem, 0.42rem);
			}

			// Line 2 - Hide
			&:nth-child(2) {
				opacity: 0;
			}

			// Line 3 - Rotate
			&:nth-child(3) {
				transform: rotate(-45deg) translate(6px, -6px);
			}
		}
	}
}

// Menu Overlay
.menu {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.98;
	visibility: hidden;

	&.show {
		visibility: visible;
	}

	&-branding,
	&-nav {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		justify-content: center;
		float: left;
		width: 50%;
		height: 100vh;
		overflow: hidden;
	}

	&-nav {
		margin: 0;
		padding: 0;
		background: darken($color: $primary-color, $amount: 5);
		list-style: none;
		transform: translate3d(0, -100%, 0);
		@include easeOut;

		&.show {
			// Slide in from top
			transform: translate3d(0, 0, 0);
		}
	}

	// Branding side
	&-branding {
		background: lighten($color: $primary-color, $amount: 5);
		@include easeOut;
		transform: translate3d(0, 100%, 0);

		&.show {
			// Slide in from bottom
			transform: translate3d(0, 0, 0);
		}

		.portrait {
			width: 250px;
			height: 250px;
			background: url(../img/portrait-small.jpg);
			border-radius: 50%;
			border: solid 0.25rem $secondary-color;
		}
	}

	.nav-item {
		transform: translate3d(600px, 0, 0);
		@include easeOut;

		&.show {
			// Slide in from right
			transform: translate3d(0, 0, 0);
		}

		&.current > a {
			color: $secondary-color;
		}
	}

	.nav-link {
		display: inline-block;
		position: relative;
		font-size: 30px;
		text-transform: uppercase;
		padding: 1rem 0;
		font-weight: 400;
		color: setTextColor($primary-color);
		text-decoration: none;

		@include easeOut;

		&:hover {
			color: $secondary-color;
		}
	}
}

// Delay for nav item sliding in by 0.1s
@for $x from 1 through 4 {
	.nav-item:nth-child(#{$x}) {
		transition-delay: $x * 0.1s;
	}
}
