@import "config";
@import "menu";
@import "projects";
@import "buttons";

* {
	box-sizing: border-box;
}

body {
	background: $primary-color;
	color: setTextColor($primary-color);
	height: 100%;
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
}

.hidden {
	visibility: hidden;
}

// Headings
h1,
h1,
h3 {
	margin: 0;
	font-weight: 400;

	&.lg-heading {
		display: flex;
		font-size: 6rem;

		a {
			display: flex;
		}

		.download-resume {
			display: inline-block;
			line-height: 0;
			font-size: 1rem;

			&:focus {
				outline: none;
			}

			form {
				display: block;
				float: right;

				.btn-download {
					display: inline-block;
					margin: none;
				}
			}
		}
	}

	&.sm-heading {
		margin-bottom: 2rem;
		padding: 0.2rem 1rem;
		background: rgba(lighten($color: $primary-color, $amount: 2), 0.5);
	}
}

a {
	color: #fff;
	text-decoration: none;
}

header {
	position: fixed;
	z-index: 2;
	width: 100%;
}

.text-secondary {
	color: $secondary-color;
	display: flex;
}

main {
	padding: 4rem;
	// height: 100%;
	min-height: calc(100vh - 60px);

	.icons {
		margin-top: 1rem;

		a {
			padding: 0.4rem;

			&:hover {
				color: $secondary-color;
				@include easeOut();
			}
		}
	}

	&#home {
		overflow: hidden;

		h1 {
			margin-top: 25vh;
		}

		.sm-heading {
			margin-top: 0.5rem;
		}

		.download-resume {
			margin-top: 2vh;

			button:focus {
				outline: none;
			}
		}
	}

	&#about {
		.download-resume {
			margin: auto 2rem auto auto;

			button:focus {
				outline: none;
			}
		}
	}

	button.btn-download {
		cursor: pointer;
		@include easeOut();
	}
}

.about-info {
	.bio-grid {
		display: grid;
		grid-gap: 1.875rem;
		grid-template-areas:
			"bioimage bio bio";
		grid-template-columns: repeat(3, 1fr);
		margin-bottom: 3rem;

		.bio-image {
			grid-area: bioimage;
			margin: auto;
			width: 100%;
			border-radius: 50%;
			border: $secondary-color 0.25rem solid;
		}

		.bio {
			grid-area: bio;
			font-size: 1.5rem;
		}
	}

	.text-secondary {
		font-size: 2rem;
	}

	.jobs {
		display: grid;
		grid-gap: 1.875rem;
		grid-template-areas:
		"job1 job2"
		"job3 job4";
		grid-template-columns: repeat(2, 1fr);

		.job-1 {
			grid-area: job1;
		}
	
		.job-2 {
			grid-area: job2;
		}
	
		.job-3 {
			grid-area: job3;
		}
	
		.job-4 {
			grid-area: job4;
		}

		.job {
			background: lighten($color: $primary-color, $amount: 5);
			padding: 1.5rem;
			border-bottom: $secondary-color 0.3rem solid;
			overflow: hidden;
			margin: 0.5rem;
	
			h6 {
				font-size: 0.9rem;
				font-weight: 300;
				margin: 0.2rem auto;
			}
		}
	}
}

// Contact page
#contact {
	.boxes {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		margin-top: 1rem;

		div {
			font-size: 2rem;
			border: 0.25rem setTextColor($primary-color) solid;
			padding: 1.5rem 0.5rem;
			margin-bottom: 3rem;

			@include easeOut;

			&:hover {
				padding: 1.25rem 2rem;
				background: $secondary-color;
				color: setTextColor($secondary-color);

				span {
					color: setTextColor($secondary-color);
				}
			}

			.text-secondary {
				text-align: center;
				justify-content: center;
			}

			.btn-copy {
				display: inline-block;
				background: none;
				cursor: pointer;
				color: setTextColor($primary-color);
				font-size: 2rem;

				&:focus {
					outline: none;
				}

				&:hover {
					background: none;
				}
			}
		}
	}

	#copy-popup {
		display: flex;
		justify-content: space-evenly;

		h3 {
			background: #4bb543;
			color: #fff;
			display: inline-block;
			text-align: center;
			margin: auto;
			padding: 1rem;

			&.failed {
				background-color: #ff0000;
			}
		}
	}
}

// Work blog style
#website-proj {
	.blog-container {
		display: flex;

		.blog-photo {
			max-width: 50rem;
			display: inline-block;
			margin: 0 4rem 2rem 0;
			font-size: 8em;
			text-align: center;
			border: 0.25rem setTextColor($primary-color) solid;
			float: left;

			&.fab,
			&.fas {
				padding: 4rem 6rem;
				color: #ffa500;
				border: none;
			}

			&.tim-logo {
				padding: 2rem 4rem;
				border: none;
			}

			&.for-u-logo {
				border: none;
			}

			&.diagram {
				background: setTextColor($primary-color);
			}
		}

		.blog-text {
			display: inline-block;
			margin: 0 auto 0 0;
			font-size: 1.5em;
			width: 100%;

			p {
				margin-top: 0;
				margin-bottom: 2rem;
			}
		}
	}
}

// Button styles imported from _buttons.scss

#main-footer {
	text-align: center;
	padding: 1rem;
	background: darken($color: $primary-color, $amount: 10);
	color: setTextColor($primary-color);
	height: 3.75rem;
}

// Sticky Style
// .sticky {
// 	position: fixed;
// 	top: 0;
// }

@import "mobile";
